*#
*~
ac-comphist.dat
auto-save-list
org-clock-save.el
recentf
tramp
eshell
deepin-emacs
semanticdb
url
ede-projects.el
.DS_Store
session.*
init-local.el
/server/server
.emacs.desktop
.emacs.desktop.lock
helm-doc.org