[submodule "site-lisp/extensions/benchmark-init-el"]
	path = site-lisp/extensions/benchmark-init-el
	url = https://github.com/dholm/benchmark-init-el.git
[submodule "site-lisp/extensions/imenu-anywhere"]
	path = site-lisp/extensions/imenu-anywhere
	url = https://github.com/vspinu/imenu-anywhere.git
[submodule "site-lisp/extensions/undo-tree"]
	path = site-lisp/extensions/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule "site-lisp/extensions/multi-term"]
	path = site-lisp/extensions/multi-term
	url = https://github.com/emacsmirror/multi-term.git