[submodule "site-lisp/extensions/benchmark-init-el"]
	path = site-lisp/extensions/benchmark-init-el
	url = https://github.com/dholm/benchmark-init-el.git
[submodule "site-lisp/extensions/emacs-async"]
	path = site-lisp/extensions/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "site-lisp/extensions/highlight-parentheses-el"]
	path = site-lisp/extensions/highlight-parentheses-el
	url = https://github.com/tsdh/highlight-parentheses.el.git
[submodule "site-lisp/extensions/imenu-anywhere"]
	path = site-lisp/extensions/imenu-anywhere
	url = https://github.com/vspinu/imenu-anywhere.git
[submodule "site-lisp/extensions/undo-tree"]
	path = site-lisp/extensions/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule "site-lisp/extensions/moe-theme-el"]
	path = site-lisp/extensions/moe-theme-el
	url = https://github.com/kuanyui/moe-theme.el.git
[submodule "site-lisp/extensions/powerline"]
	path = site-lisp/extensions/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "site-lisp/extensions/ox-twbs"]
	path = site-lisp/extensions/ox-twbs
	url = https://github.com/marsmining/ox-twbs.git
[submodule "site-lisp/extensions/multi-term"]
	path = site-lisp/extensions/multi-term
	url = https://github.com/emacsmirror/multi-term.git